* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ddd;
  min-height: 100vh;
}

nav {
  height: 90px;
  background-color: rgb(77, 182, 182);
}

main {
  padding: 0 120px;
}

footer {
  padding: 0 120px;
}