@import url('./../../Generales/footer.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
}

nav {
  height: 90px;
  background-color: rgb(77, 182, 182);
}

main {
  padding: 0 120px;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}



/* Componente registro */
.sin-cuenta {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

.login {
  border: solid 1px black;
  width: 500px;
  min-height: 552px;
  border-radius: 15px;
  padding: 51px 50px;
}

.login>i {
  display: block;
  font-size: 75px;
  text-align: center;
  padding-bottom: 31px;
  color: #828282;
}

.login .titulo__form {
  font-size: 20px;
  padding-bottom: 25px;
}

.login .correo {
  position: relative
}

.login div>i {
  position: absolute;
  top: 12px;
  left: 20px;
  color: #828282;
}

.login .password {
  position: relative;
}

.login .password__r {
  position: relative;
}

.login .email,
.pass,
.pass2 {
  width: 400px;
  height: 40px;
  border-radius: 6px;
  font-size: 16px;
  padding-left: 50px;
  border: solid 1px #828282;
  margin-bottom: 15px;
}

.login .aceptar__politicas {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 40px;
}

.login .aceptar {
  width: 25px;
  height: 25px;
}

.botones {
  display: flex;
  width: 400px;
  flex-direction: column;
  gap: 15px
}

.botones button {
  height: 40px;
  border-radius: 6px;
  border-style: none;
  cursor: pointer;
}

.botones .registrarse {
  background-color: #4247D4;
  color: #ddd;
  text-transform: uppercase;
}

.botones .registrarse:hover {
  background-color: #4e53f1;
  color: #fff;
}

.botones .registrarse__google {
  background-color: #D50F25;
  color: #ddd;
  text-transform: uppercase;
}

.botones .registrarse__google:hover {
  background-color: #f32d44;
  color: #fff;
}

/* Componente registro */
.con-cuenta .login {
  border: solid 1px black;
  width: 500px;
  min-height: 400px;
  border-radius: 15px;
  padding: 51px 50px;
}

.con-cuenta {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

.desactivado {
  display: none;
}