* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
}

nav {
  height: 90px;
  background-color: rgb(77, 182, 182);
}

main {
  padding: 0 120px;
}

footer {
  padding: 0 120px;
  background-color: #FEF8DA;
  min-height: 150px;
}

.social__iconos {
  padding-top: 40px;
  text-align: center;
}

.social__iconos>i:hover {
  color: rgb(98, 170, 170);
}

.social__iconos>i {
  font-size: 30px;
  margin: 0 20px;
}

.menu__footer {
  display: flex;
  justify-content: space-between;
}

.menu__footer>div {
  margin: 50px 0 30px;
  width: 20%;
}

.menu__footer p {
  margin-bottom: 7px;
}

.menu__footer p:hover {
  color: rgb(98, 170, 170);
  cursor: pointer;
}

.copyright {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #828282;
}

.copyright>span {
  font-size: 20px;
  font-weight: bold;
}